body {
  font-size: 14px;
  line-height: 20px;
}
.iconfont {
  font-size: 20px !important;
}
.cursor {
  cursor: pointer;
}
.colorRed {color: red;}
.fl {float: left;}
.fr {float: right;}
.cTitle {
  line-height: 24px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.cCnt {

}